
@font-face {
  font-family: "Axiforma Bold";
  src: url("/site_static/fonts/Axiforma Bold.woff2") format("woff2"),
       url("/site_static/fonts/Axiforma Bold.woff") format("woff"),
       url("/site_static/fonts/Axiforma Bold.ttf") format("truetype"),
       url("/site_static/fonts/Axiforma Bold.eot") format("embedded-opentype"),
       url("/site_static/fonts/Axiforma Bold.svg") format("svg");
}

@font-face {
  font-family: "Axiforma SemiBold";
  src: url("/site_static/fonts/Axiforma SemiBold.woff2") format("woff2"),
       url("/site_static/fonts/Axiforma SemiBold.woff") format("woff"),
       url("/site_static/fonts/Axiforma SemiBold.ttf") format("truetype"),
       url("/site_static/fonts/Axiforma SemiBold.eot") format("embedded-opentype"),
       url("/site_static/fonts/Axiforma SemiBold.svg") format("svg");
}

@font-face {
  font-family: "Axiforma-Regular";
  src: url("/site_static/fonts/Axiforma-Regular.woff2") format("woff2"),
       url("/site_static/fonts/Axiforma-Regular.woff") format("woff"),
       url("/site_static/fonts/Axiforma-Regular.ttf") format("truetype"),
       url("/site_static/fonts/Axiforma-Regular.eot") format("embedded-opentype"),
       url("/site_static/fonts/Axiforma-Regular.svg") format("svg");
}
@font-face {
  font-family: "ArgentCF-Bold";
  src: url("/site_static/fonts/ArgentCF-Bold.woff2") format("woff2"),
       url("/site_static/fonts/ArgentCF-Bold.woff") format("woff"),
       url("/site_static/fonts/ArgentCF-Bold.ttf") format("truetype"),
       url("/site_static/fonts/ArgentCF-Bold.eot") format("embedded-opentype"),
       url("/site_static/fonts/ArgentCF-Bold.svg") format("svg");
}
@font-face {
  font-family: "TTCommons-Bold";
  src: url("/site_static/fonts/TTCommons-Bold.woff2") format("woff2"),
       url("/site_static/fonts/TTCommons-Bold.woff") format("woff"),
       url("/site_static/fonts/TTCommons-Bold.ttf") format("truetype"),
       url("/site_static/fonts/TTCommons-Bold.eot") format("embedded-opentype"),
       url("/site_static/fonts/TTCommons-Bold.svg") format("svg");
}
@font-face {
  font-family: "TTCommons-DemiBold";
  src: url("/site_static/fonts/TTCommons-DemiBold.woff2") format("woff2"),
       url("/site_static/fonts/TTCommons-DemiBold.woff") format("woff"),
       url("/site_static/fonts/TTCommons-DemiBold.ttf") format("truetype"),
       url("/site_static/fonts/TTCommons-DemiBold.eot") format("embedded-opentype"),
       url("/site_static/fonts/TTCommons-DemiBold.svg") format("svg");
}
@font-face {
  font-family: "TTCommons-Italic";
  src: url("/site_static/fonts/TTCommons-Italic.woff2") format("woff2"),
       url("/site_static/fonts/TTCommons-Italic.woff") format("woff"),
       url("/site_static/fonts/TTCommons-Italic.ttf") format("truetype"),
       url("/site_static/fonts/TTCommons-Italic.eot") format("embedded-opentype"),
       url("/site_static/fonts/TTCommons-Italic.svg") format("svg");
}
@font-face {
  font-family: "TTCommons-Medium";
  src: url("/site_static/fonts/TTCommons-Medium.woff2") format("woff2"),
       url("/site_static/fonts/TTCommons-Medium.woff") format("woff"),
       url("/site_static/fonts/TTCommons-Medium.ttf") format("truetype"),
       url("/site_static/fonts/TTCommons-Medium.eot") format("embedded-opentype"),
       url("/site_static/fonts/TTCommons-Medium.svg") format("svg");
}
@font-face {
  font-family: "TTCommons-Regular";
  src: url("/site_static/fonts/TTCommons-Regular.woff2") format("woff2"),
       url("/site_static/fonts/TTCommons-Regular.woff") format("woff"),
       url("/site_static/fonts/TTCommons-Regular.ttf") format("truetype"),
       url("/site_static/fonts/TTCommons-Regular.eot") format("embedded-opentype"),
       url("/site_static/fonts/TTCommons-Regular.svg") format("svg");
}