$c-black:#292b2e;
$c-white:#fff;
$c-red:  #f7176d;
$c-red2: #fb438a;
$c-bg:#fafbfc;
$c-v: #a301e8;
$c-b: #7b68ee;
$c-blue: #116dff;
$c-gray: #bab6c3;
$c-gray2: #7c828d;
$c-gray3: #b9bec7;
$c-gray4: #bec3cb;
$c-gray5: #dfdfdf;
$c-gray6: #e9ebf0;
$c-gray7: #fbfbfb;
$c-p: #aeb3bc;
$c-box-shadow: rgba(123, 104, 238, 0.35);
$c-bs2: rgba(142, 142, 142, 0.16);
$c-bs3: rgba(163, 1, 232, 0.25);
$c-bs4: rgba(247, 23, 109, 0.23);
$c-bs5: rgba(142, 142, 142, 0.16);
$c-bs6: rgba(104, 104, 104, 0.16);
$c-bs7: rgba(112, 112, 112, 0.16);
$c-bs8: rgba(0, 0, 0, 0.05);
$f-tm: "TTCommons-Medium";
$f-tb: "TTCommons-Bold";
$f-tmb: "TTCommons-DemiBold";
$f-tr: "TTCommons-Regular";
$f-ti:"TTCommons-Italic";
$f-ab: "ArgentCF-Bold";
$f-asb: "Axiforma SemiBold";
$f-ar: "Axiforma-Regular";
// media
$bl-max: 1444.98px;
$xl-max: 1199.98px;
$xl-min: 1200px;
$lg-max: 991.98px;
$lg-min: 992px;
$md-max: 767.98px;
$md-min: 768px;  
$sm-max: 575.98px;
$sm-min: 576px;
$xs-max: 413.98px;
$xs-min: 414px;
$ss-max: 320px;
