.new-dashboard-page h2 {
  font-size: 36px;
  font-weight: 600;
}
.new-dashboard-page .line {
  background-color: white;
  padding: 20px 18px;
  border-radius: 26px;
  margin-top: 26px;
}
.new-dashboard-page .line h5 {
  font-size: 14px;
  font-weight: 600;
}
.new-dashboard-page .line .cards-wrapper {
  display: grid;
  grid-template-columns: 33fr 33fr 33fr;
  -moz-column-gap: 52px;
       column-gap: 52px;
  row-gap: 52px;
  width: 100%;
}
.new-dashboard-page .line .cards-wrapper .my-card {
  position: relative;
  aspect-ratio: 3/2.25;
  border-radius: 20px;
  background-color: #db3965;
  flex-shrink: 0;
  padding: 14px 2vw;
  max-width: 390px;
  background-color: var(--bg-color);
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.new-dashboard-page .line .cards-wrapper .my-card:hover {
  background-color: var(--bg-color-hover);
}
.new-dashboard-page .line .cards-wrapper .my-card:hover .svg-wrapper img:nth-child(odd),
.new-dashboard-page .line .cards-wrapper .my-card:hover .svg-wrapper svg:nth-child(odd) {
  transform: scale(1.08);
}
.new-dashboard-page .line .cards-wrapper .my-card:hover .svg-wrapper img:nth-child(even),
.new-dashboard-page .line .cards-wrapper .my-card:hover .svg-wrapper svg:nth-child(even) {
  transform: scale(1.08);
}
.new-dashboard-page .line .cards-wrapper .my-card .tag {
  position: absolute;
  right: 13px;
  top: 13px;
  color: white;
  border-radius: 5px;
  padding: 6px 10px;
  z-index: 1;
}
.new-dashboard-page .line .cards-wrapper .my-card .svg-wrapper {
  height: calc(100% - 90px);
  width: 100%;
  position: absolute;
  transform: translateY(-20%);
  left: 50%;
  transform: translate(-50%, -1.3vw);
}
.new-dashboard-page .line .cards-wrapper .my-card .svg-wrapper img,
.new-dashboard-page .line .cards-wrapper .my-card .svg-wrapper svg {
  max-width: 80%;
  max-height: 80%;
  position: relative;
  transition: all 0.3s;
}
.new-dashboard-page .line .cards-wrapper .my-card .title {
  font-weight: 700;
  line-height: 32px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.new-dashboard-page .line .cards-wrapper .my-card .ftr {
  margin-top: auto;
  padding-left: 6px;
}
.new-dashboard-page .line .cards-wrapper .my-card .ftr .title {
  font-size: 26px;
  margin-bottom: 4px;
}
.new-dashboard-page .line .cards-wrapper .my-card .ftr .sub-text {
  font-size: 12px;
  filter: brightness(30%);
  margin-bottom: 4px;
  font-weight: 300;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.new-dashboard-page .line .cards-wrapper .my-card:last-child {
  margin-right: 0px;
}

.gt .generator-popup {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
}
.gt .generator-popup .ai-input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex: 1 1 auto;
}
.gt .generator-popup .ai-input-wrapper p {
  margin-top: 34px;
  font-weight: 600;
  align-self: flex-start;
}
.gt .generator-popup .ai-input-wrapper textarea {
  display: block;
  width: 100%;
  max-width: none;
  resize: none;
  height: 100%;
  background-color: #f5f5f5;
  border: none;
  border-radius: 14px;
  padding: 18px 26px;
  flex: 1 1 auto;
}
.gt .generator-popup .ai-input-wrapper textarea:focus {
  border-color: #db3965;
  outline: none;
}
.gt .generator-popup .template-sec {
  width: 100%;
}
.gt .generator-popup .template-sec .template {
  margin-top: 20px;
  height: 100%;
  border-radius: 14px;
  width: 100%;
  overflow: hidden;
}
.gt .generator-popup .template-sec .template img {
  height: 100%;
  width: 100%;
}
.gt .generator-popup .edit-sec {
  padding: 20px 0px;
}
.gt .generator-popup .edit-sec .img-wrapper {
  height: 172px;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}
.gt .generator-popup .edit-sec .img-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.gt .generator-popup .edit-sec .img-wrapper .image-buttons-wrapper {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  opacity: 0;
  transition: all 0.25s;
}
.gt .generator-popup .edit-sec .img-wrapper .image-buttons-wrapper .upload-button {
  background-color: #ffffff;
  color: #7c7979;
  margin-right: 14px;
}
.gt .generator-popup .edit-sec .img-wrapper .image-buttons-wrapper .upload-button .cntnt {
  white-space: nowrap;
}
.gt .generator-popup .edit-sec .img-wrapper .image-buttons-wrapper .unsplash-button {
  background-color: transparent;
  overflow: hidden;
  position: relative;
  color: #ffffff;
}
.gt .generator-popup .edit-sec .img-wrapper .image-buttons-wrapper .unsplash-button .cntnt {
  position: relative;
  white-space: nowrap;
}
.gt .generator-popup .edit-sec .img-wrapper .image-buttons-wrapper .unsplash-button::before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.6);
  height: 100%;
  width: 100%;
  filter: blur(4px);
}
.gt .generator-popup .edit-sec .img-wrapper:hover .image-buttons-wrapper {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.gt .generator-popup .edit-sec textarea {
  width: 100%;
  resize: none;
  background-color: #f5f5f5;
  border: 1px solid transparent;
  border-radius: 14px;
  padding: 18px 26px;
  margin-top: 22px;
}
.gt .generator-popup .edit-sec textarea.title {
  height: 70px;
}
.gt .generator-popup .edit-sec textarea.body {
  height: 180px;
}
.gt .advanced-button {
  width: 70%;
  margin-right: 20px;
}
.gt .update-button {
  width: 30%;
  color: #ffffff;
}
.gt .generate-button {
  min-width: 170px;
}
.gt .download-button {
  margin-left: 20px;
  text-align: left;
  padding: 0px;
}
.gt .download-button > button {
  height: 100%;
  color: #ffffff;
}
.gt .download-button > button:hover {
  color: white;
}
.gt .download-button > button:nth-child(1) {
  flex: 8;
  text-align: left;
  justify-content: flex-start;
  padding-left: 18px;
  border-radius: 10px 0px 0px 10px;
}
.gt .download-button > button:nth-child(2) {
  border-radius: 0px 10px 10px 0px;
}
.gt .download-button > button:nth-child(2)::before {
  content: "";
  height: 80%;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: -2px;
}
.gt .download-button > button:nth-child(2)::after {
  border-width: 0px;
}
.gt .download-button .dropdown-menu button {
  color: #000000;
}
.gt .download-button .opener {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding-left: 14px;
  height: 100%;
}
.gt .download-button .more-options {
  position: absolute;
}
.gt .close-button {
  background-color: var(--bg-color) !important;
  transition: all 0.1s ease-in;
}
.gt .close-button:hover {
  background-color: var(--bg-color-hover) !important;
}

.orientation-selection-wrapper {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .new-dashboard-page .line .cards-wrapper {
    display: block;
  }
  .new-dashboard-page .line .cards-wrapper .my-card {
    margin-bottom: 30px;
    max-width: initial;
  }
}/*# sourceMappingURL=generator.css.map */