.settings-page {
  // width: 1120px;
  // max-width: 100%;
  // height: 100%;
  // padding: 0px;
  // background-color: green;

  // .content-wrapper {
  // background-color: #f5f5f5;
  // width: 100%;
  // padding: 62px 68px 0px;
  // border-bottom-right-radius: 26px;

  .nav-wrapper .links-wrapper {
    padding: 38px 26px;
  }

  .inner-content-wrapper {
    background-color: white;
    border-radius: 26px;
    height: 760px;
    overflow: hidden;

    .content-wrapper {
      width: 100%;
      padding: 50px 40px;
      overflow: auto;
    }
  }

  .label-text {
    letter-spacing: 0.5px;

    &.users {
      margin-top: 60px;
    }
  }

  input {
    border: none;
    border-radius: 14px;
    height: 48px;
    padding: 0px 22px;
    background-color: #f5f5f5;
  }

  .user-list {
    padding: 10px;
    border-radius: 14px;
    background-color: #fff;

    .user-line {
      background-color: #f5f5f5;
      margin-bottom: 8px;
      border-radius: 8px;
      padding: 18px 24px;

      .avatar {
        height: 40px;
        width: 40px;
        border-radius: 5px;
        margin-right: 10px;
      }

      &:last-child {
        margin-bottom: 0px;
      }

      .buttons-wrapper {
        .button {
          height: 40px;
          width: 40px;
          background-color: #fff;
          border-radius: 50%;
          margin-left: 14px;
          transition: 0.25s;

          &.disabled {
            cursor: no-drop;
            filter: grayscale(100%);
            opacity: 0.5;
          }

          &:not(.disabled):hover {
            transform: scale(1.15);
          }

          &.edit {
            i {
              color: rgba(107, 82, 250, 0.5);
            }
          }

          &.delete {
            i {
              color: rgba(242, 32, 32, 0.5);
            }
          }
        }
      }
    }
  }

  .add-user-button {
    margin-top: 16px;
    margin-left: 10px;
  }

  .current-plan-wrapper {
    background-color: #f5f5f5;
    border-radius: 14px;
    padding: 16px 32px;
    margin-bottom: 40px;
  }

  .payment-types {
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 14px;
    padding: 16px 16px;
    display: grid;
    grid-template-columns: repeat(3, 33fr);
    gap: 12px;
    overflow: auto;
    max-height: calc(100% - 194px);

    .inner-card-wrapper {
      aspect-ratio: 1.65/1;
      border-radius: 8px;
      // border: 1px solid white;
      position: relative;

      &.amex {
        background-color: #e3ebff;
        color: #3042df;
      }

      &.visa {
        background-color: #ffefe3;
        color: #e46d3a;
      }

      &.add {
        background-color: #fff;
        cursor: pointer;

        i {
          font-size: 30px;
          color: rgba(0, 0, 0, 0.2);
        }
      }

      .default-icon {
      }

      .cc-header,
      .cc-footer {
        width: 100%;
        padding: 10px 18px;
      }

      .cc-header {
        padding-top: 14px;
      }

      .hover-only {
        display: none;
      }

      &:hover {
        .hover-only {
          display: block;

          &.df {
            display: flex;
          }
        }
      }

      .brand-icon {
        i {
          font-size: 32px;
        }
      }
    }

    .card-details {
      margin-top: 10px;
      font-size: 0.8vw;
    }
  }

  .reset-p {
    margin-top: 50px;
  }

  .password-btns-wrapper {
    button {
      margin-right: 16px;
    }
  }
}

.brand-payment {
  .new-popup {
    aspect-ratio: initial;

    .new-popup-content {
      overflow: auto;
      padding: 26px 28px;

      .c-card {
        padding: 8px 6px;
      }
    }
  }
}

.add-user.new-popup-wrapper {
  .new-popup {
    aspect-ratio: initial;
  }

  .new-popup-content {
    overflow: auto;
    padding: 20px 28px;

    .input-wrapper {
      margin-bottom: 18px;
      .label {
        letter-spacing: 1px;
        font-size: 12px;
        opacity: 0.5;
        text-transform: uppercase;
      }

      input {
        height: 52px;
        border-radius: 14px;
        padding: 0px 20px;
        background-color: #f5f5f5;
        border-color: #f5f5f5;
      }
    }

    .upload-button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 52px;
      border-radius: 14px;
      padding: 0px 20px;
      background-color: #f5f5f5;
      border-color: #f5f5f5;
      font-weight: normal;
      font-size: 1rem;
    }

    .file-label {
      font-weight: normal;
      font-size: 1rem;
    }
  }
}

.new-popup-wrapper.add-card-popup {
  .new-popup {
    .new-popup-content {
      overflow: auto;
      padding: 30px 28px 0px;

      .card-element {
        border-radius: 14px;
        background-color: #f5f5f5;
        border-color: #f5f5f5;
        padding: 18px 16px;
      }
    }
  }
}

.new-popup-wrapper.reset-password-popup {
  .new-popup-content {
    overflow: auto;
    padding: 20px 28px 10px;

    .input-wrapper {
      margin-bottom: 18px;

      .brand-label {
        letter-spacing: 1px;
        font-size: 12px;
        opacity: 0.5;
      }

      input {
        height: 52px;
        border-radius: 14px;
        padding: 0px 20px;
        background-color: #f5f5f5;
        border-color: #f5f5f5;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .settings-page {
    .inner-content-wrapper {
      height: initial;
      align-items: stretch;

      .content-wrapper {
        padding: 30px 24px;

        .user-list {
          padding: 0px;
        }
      }
    }

    .current-plan-wrapper {
      flex-flow: column;
      align-items: flex-start;

      .mla {
        margin-left: initial;
        margin-top: 20px;
      }
    }

    .payment-types {
      display: flex;
      flex-flow: column;

      // .inner-card-wrapper {
      .card-details {
        font-size: 10px;
        margin-bottom: 6px !important;
        margin-top: 5px;
        // }
      }
    }

    .user-list {
      .user-line {
        flex-flow: column;
        align-items: flex-start;

        .mla {
          margin-left: initial;
          margin-top: 20px;
        }

        .buttons-wrapper {
          .button {
            &:nth-child(1) {
              margin-left: 0px;
            }
          }
        }
      }
    }

    .password-btns-wrapper {
      margin-bottom: 24px;
    }

    .logout {
      background-color: transparent;
    }
  }

  .reset-password-popup {
    .text-right.new-popup-footer {
      display: flex;
      flex-flow: column-reverse;
      height: initial;
      padding-bottom: 16px;

      input {
        flex-shrink: 0;
        margin-top: 0 !important;
      }

      button {
        background-color: transparent;
        color: #162d3d;
        margin-top: 10px !important;
        font-size: 16px;
      }
    }
  }
}
