.video-link{
    z-index: 555;
}
.video-light-box {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99999;
    left: 0;
    top: 0; }
    .video-light-box:after {
      content: "";
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: #000;
      opacity: 0.8; }
    .video-light-box .close {
      opacity: 1;
      background: none;
      display: block;
      width: 28px;
      height: 28px;
      position: absolute;
      z-index: 9;
      right: -7px;
      top: -30px;
      -webkit-transition: All 0.2s ease-in-out;
      -o-transition: All 0.2s ease-in-out;
      transition: All 0.2s ease-in-out; }
      .video-light-box .close:hover:before {
        background: #007AC1; }
      .video-light-box .close:hover:after {
        background: #007AC1; }
      .video-light-box .close:before {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        background: #fff;
        -webkit-transform: rotate(-45deg) translateZ(0);
        transform: rotate(-45deg) translateZ(0);
        position: absolute;
        left: 3px;
        top: 13px;
        -webkit-transition: All 0.3s ease-in-out;
        -o-transition: All 0.3s ease-in-out;
        transition: All 0.3s ease-in-out; }
      .video-light-box .close:after {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        background: #ffffff;
        -webkit-transform: rotate(45deg) translateZ(0);
        transform: rotate(45deg) translateZ(0);
        position: absolute;
        left: 3px;
        top: 13px;
        transition: All 0.3s ease-in-out;
        -webkit-transition: All 0.3s ease-in-out;
        -moz-transition: All 0.3s ease-in-out;
        -o-transition: All 0.3s ease-in-out; }
    .video-light-box .video-box {
      max-width: 1134px;
      width: 100%;
      position: absolute;
      z-index: 2;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      padding: 0; }
      @media (max-width: 1200px) {
        .video-light-box .video-box {
          width: 96%; } }
      .video-light-box .video-box video {
        width: 100%; }
      .video-light-box .video-box iframe {
        width: 100%;
        height: 641px; }
        @media (max-width: 1200px) {
          .video-light-box .video-box iframe {
            height: 52.9vw; } }
  .data-video {
    display: none; }


[data-handle="wistiaLogo"]{
  display: none !important;
}